
.outer
{
height:auto;
width:100%;
border:1px solid red;
}
.top{
height:70px;
width:100%;
background:pink;
float:left;
}
.head{
height:70px;
width:100%;
background:yellow;
float:left;
}
button:hover{
background:pink;
color-black;
border-radius:20px;
transition:2s;
transform:rotate(360deg);
}
.menu
{
height: 70px;
width:100%;
background-color:#892c1b;;
float:left;	
}
.menu1{
font-size: 16px;
color:white;
margin-left: 60px;
}

.header
{
height:500px;
width:100%;
background: #ffff;
float:left;
}

.down
{
height:500px;
width:100%;
background-image:url('bg.jpg');
float:left;
}


.down1
{
height:500px;
width:12%;
float:left;

}

.down2
{
height:500px;
width:50%;
float:left;

}

.down3
{
height:700px;
width:38%;
float:left;

}


.dofor
{
height:500px;
width:100%;
background-image:url('bg1.jpg');
float:left;
}


.dofor1
{
height:500px;
width:12%;
float:left;

}

.dofor2
{
height:500px;
width:50%;
float:left;

}

.dofor3
{
height:500px;
width:38%;
float:left;

}





.sysr
{
height:500px;
width:100%;
background-image:url('bg.jpg');
float:left;
}


.sysr1
{
height:500px;
width:12%;
float:left;

}

.sysr2
{
height:500px;
width:25%;
float:left;

}

.sysr3
{
height:500px;
width:26%;
float:left;

}

.sysr4
{
height:500px;
width:25%;
float:left;

}

.sysr5
{
height:500px;
width:12%;
float:left;

}

.ourpack
{
height:500px;
width:100%;
background-image:url('bg1.jpg');
float:left;
}
.ourpack
{
height:500px;
width:100%;
background-image:url('bg1.jpg');
float:left;
}
.ourpack1
{
height:500px;
width:12%;
float:left;
}
.ourpack2
{
height:500px;
width:45%;
float:left;
}
.ourpack3
{
height:500px;
width:31%;
float:left;
}
.ourpack4
{
height:500px;
width:12%;
float:left;
}

.sss
{
height:600px;
width:100%;
background-image:url('sucees-stories.jpg');
float:left;
}
.sss1
{
height:600px;
width:12%;
float:left;
}
.sss2
{
height:600px;
width:19%;
float:left;
}
.sss3
{
height:600px;
width:38%;
float:left;
}

.sss31
{
height:90px;
width:100%;
float:left;
}
.sss32
{
height:500px;
width:100%;
float:left;
}
.sss321
{
height:500px;
width:50%;
float:left;
}
.sss322
{
height:500px;
width:50%;
float:left;
}
.sss4
{
height:600px;
width:19%;
float:left;
}


.frm
{
height:600px;
width:100%;
background-image:url('bg.jpg');
float:left;
}

.frm1
{
height:550px;
width:100%;
float:left;
}

.frm11
{
height:550px;
width:50%;
float:left;
}
.frm111
{
height:550px;
width:25%;
float:left;
}
button{
transform:rotate(0deg);
text-color:white;
background:red;
height:40px;
width:150px;
}
.frm112
{
height:550px;
width:75%;
float:left;
}

.frm12
{
height:550px;
width:50%;
float:left;
}

.footer
{
height:700px;
width:100%;
background: #ba1212;
float:left;
}

.footer1{
font-size: 18px;
color:white;
margin-left: 60px;










